<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pam.e_iqra" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EIqra" >
        <activity
            android:name=".StudentReportsMenuActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherReportsMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ReportsManageActivity"
            android:exported="false"
            android:parentActivityName=".TeacherMenuActivity" />
        <activity
            android:name=".StudentsManageActivity"
            android:exported="false"
            android:parentActivityName=".TeacherStudentsMenuActivity" />
        <activity
            android:name=".StudentStudentsMenuActivity"
            android:parentActivityName=".StudentMenuActivity" />
        <activity
            android:name=".TeacherStudentsMenuActivity"
            android:exported="false"
            android:parentActivityName=".TeacherMenuActivity" />
        <activity
            android:name=".StudentMenuActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherMenuActivity"
            android:exported="false" />
        <activity
            android:name=".StudentLoginActivity"
            android:exported="false"
            android:parentActivityName=".PreLoginActivity" />
        <activity
            android:name=".TeacherLoginActivity"
            android:exported="false"
            android:parentActivityName=".PreLoginActivity" />
        <activity
            android:name=".PreLoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>